<a href="https://colab.research.google.com/github/Omijadhav23/Data-Scientist/blob/main/Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Questions on while loop

##Q1.Write a program to print the following using while loop
 a. First 10 Even numbers
 b. First 10 Odd numbers
 c. First 10 Natural numbers
 d. First 10 Whole numbers

In [ ]:


num=2
print("First 10 even numbers are :")
while num<=20:
  print(num)
  num=num+2

numb=1
print("First 10 odd numbers are: ")
while numb <= 20:
  print(numb)
  numb=numb+2

nu=1
print("First 10 natural numbers are: ")
while nu<=10:
  print(nu)
  nu=nu+1

n=0
print("First 10 whole numbers are : ")
while n<10:
  print(n)
  n+=1

First 10 even numbers are :
2
4
6
8
10
12
14
16
18
20
First 10 odd numbers are:
1
3
5
7
9
11
13
15
17
19
First 10 natural numbers are:
1
2
3
4
5
6
7
8
9
10
First 10 whole numbers are :
0
1
2
3
4
5
6
7
8
9

## Q2. Write a program to print first 10 integers and their squares using while loop.
1 1

2 4

3 9 and so on

In [ ]:
integer=0
square=0
print("First 10 integers and there squares are : ")
while integer<10:
  print(integer,square)
  integer+=1
  square=integer*integer

First 10 integers and there squares are :
0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

##Q3. Write a while loop statement to print the following series

105, 98, 91 ………7.

In [ ]:
num=105
while num>=7:
  print(num)
  num-=7

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

##Q4. Write a program to print first 10 natural number in reverse order using while loop.

In [ ]:
num=10
print("First 10 natural numbers in reverse order: ")
while num>=1:
  print(num)
  num-=1

First 10 natural numbers in reverse order:
10
9
8
7
6
5
4
3
2
1

##Q5. Write a program to print sum of first 10 Natural numbers

In [ ]:
num=10
sum=0
while num>=1:
  sum=sum+num
  num-=1
print(sum)

55

In [ ]:
num

##Q6. Write a program to print table of a number entered from the user.

In [ ]:
num=int(input("Enter a number: "))
inte=1
while inte<=10:
  print(num,"*",inte,"=",num*inte)
  inte=inte+1

Enter a number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

##Q7. Write a program to find the sum of all even numbers that falls between two numbers (exclusive both numbers) entered from the user using while loop.

In [ ]:
a=int(input("Enter the first number :"))
b=int(input("Enter the second number: "))
num=a
sum=0
while num<b :
  sum=sum+num
  num+=2
  print(num)
# print(sum)
print("The sum of all even numbers are :",sum+num)
# print(num)

Enter the first number :2
Enter the second number: 6
4
6
The sum of all even numbers are : 12

##Q8. Write a program to check whether a number is prime or not using while loop.

In [ ]:
num1 = int(input("Enter any number : "))
k=0
if num1 == 0 or num1 == 1:
    print("Not a prime number ")
else:
   i = 2
   while(i<num1):
     if num1 % i == 0:
       k = k+1
     i = i+1
if k == 0 :
        print( num1,"is prime number")
else:
        print(num1, "is not prime number")
      #  else :
  #    print("It is not a prime number")
  #    break

Enter any number : 13
13 is prime number